<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipie detail</title>
</head>
<body>
    <h1>Recipie {{ recipie.title }}</h1>
    <h2>Cooking time - {{ recipie.time }} mins</h2>
    <h3>Ingredients: {{ recipie.ingredients }}</h3>
    <h3>Description: {{ recipie.description }}</h3>
    <a href="/">Back to recipies list</a>
</body>
</html>